name: Build Flutter APK

on:
  workflow_dispatch:

jobs:
  build-flutter:
    name: Build Flutter APK
    runs-on: ubuntu-latest

    permissions:
      contents: read

    defaults:
      run:
        working-directory: test_flutter

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'

      - name: Get dependencies
        run: flutter pub get

      - name: Build APK (release)
        run: flutter build apk --release --dart-define=API_URL=${{ secrets.API_URL }}
