name: Build Backend (Dart Frog) & Flutter App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-backend:
    name: Build & Publish Dart Frog Docker Image
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    defaults:
      run:
        working-directory: test_project

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image name
        id: vars
        run: |
          IMAGE="ghcr.io/${GITHUB_REPOSITORY,,}"
          echo "image=$IMAGE" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: docker build -t ${{ steps.vars.outputs.image }}:latest .

      - name: Push Docker image
        run: docker push ${{ steps.vars.outputs.image }}:latest


  build-flutter:
    name: Build Flutter APK
    runs-on: ubuntu-latest

    permissions:
      contents: write

    defaults:
      run:
        working-directory: test_flutter

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'

      - name: Get dependencies
        run: flutter pub get

      - name: Build APK (release)
        run: flutter build apk --release --dart-define=API_URL=${{ secrets.API_URL }}

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: test_flutter/build/app/outputs/flutter-apk/app-release.apk

      - name: Upload APK to GitHub Release (latest)
        uses: softprops/action-gh-release@v1
        with:
          tag_name: latest
          files: test_flutter/build/app/outputs/flutter-apk/app-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
